<!DOCTYPE html>
<html lang='ja'>

  <head>
    <meta charset='utf-8' />
    <%= include_gon %>
  </head>

  <body>
    <div id='calendar-container'>
      <div id='calendar'></div>
    </div>

    <!-- イベントがある日(modal-sample2)に関する記述 -->
    <div class="modal" id="modal-sample2" tabindex="-1">
      <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
          <!-- 4.モーダルのヘッダ -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">シフトの変更・取り消し</h4>
          </div>
          <!-- 5.モーダルのボディ -->
          <%= form_tag("/update") do %>
            <div class="modal-body">
              <div class="form-title">日付：
                <input class="form-control" type="date" name="workday" id="today" required readonly>
              </div>
              <div class="form-title">開始：
                <input class="form-control" type="time" name="start_time" id="start" value="09:00" step="900" min="09:00" max="22:00" required>
              </div>
              <div class="form-title">終了：
                <input class="form-control" type="time" name="end_time" id="end" value="22:00" step="900" min="09:00" max="22:00" required>
              </div>
            </div>
          <!-- 6.モーダルのフッタ -->
            <div id="modal-footer">
              <%= submit_tag "シフトの変更", class: "btn btn-primary", id: "offer-data", data: {confirm: "シフトを変更しますか？"}%>
            </div>
          <% end %>


          <%= form_tag("/destroy") do %>
            <input  type="hidden" class="form-control" type="date" name="workday" id="today2" required readonly>
            <input  type="hidden" class="form-control" type="time" name="start_time" id="start" step="900" min="09:00" max="22:00" required>
            <input  type="hidden" class="form-control" type="time" name="end_time" id="end" step="900" min="09:00" max="22:00" required>

            <div id="modal-footer2">
              <%= submit_tag "シフト取り消し", class: "btn btn-delete", id: "offer-data", data: {confirm: "シフトを取り消しますか？"}%>
            </div>
          <% end %>

        </div>
      </div>
    </div>


    <!-- イベントが無い日(modal-sample3)に関する記述 -->
    <div class="modal" id="modal-sample3" tabindex="-1">
      <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
          <!-- 4.モーダルのヘッダ -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">シフトの申請</h4>
          </div>

          <!-- 5.モーダルのボディ -->
          <%= form_tag("/posts/offer") do %>
            <div class="modal-body">
              <div class="form-title">日付：
                <input class="form-control" type="date" name="workday" id="today3" required readonly>
              </div>
              <div class="form-title">開始：
                <input class="form-control" type="time" name="start_time" id="start3" value="09:00" step="900" min="09:00" max="22:00" required>
              </div>
              <div class="form-title">終了：
                <input class="form-control" type="time" name="end_time" id="end3" value="22:00" step="900" min="09:00" max="22:00" required>
              </div>
            </div>
          <!-- 6.モーダルのフッタ -->
            <div id="modal-footer3">
              <input type="submit" class="btn btn-primary" id="offer-data" value="申請"></input>
            </div>
          <% end %>

        </div>
      </div>
    </div>


    <!-- ドラッグ選択による(modal-sample4)に関する記述 -->
    <div class="modal" id="modal-sample4" tabindex="-1">
      <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
          <!-- 4.モーダルのヘッダ -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">モーダル４</h4>
          </div>

          <!-- 5.モーダルのボディ -->
          <%= form_tag("/posts/offer") do %>
            <div class="modal-body">
              <div class="form-title">日付：
                <input class="form-control" type="date" name="workday" id="today4" required readonly>
              </div>
              <div class="form-title">開始：
                <input class="form-control" type="time" name="start_time" id="start4" value="09:00" step="900" min="09:00" max="22:00" required>
              </div>
              <div class="form-title">終了：
                <input class="form-control" type="time" name="end_time" id="end4" value="22:00" step="900" min="09:00" max="22:00" required>
              </div>
            </div>
          <!-- 6.モーダルのフッタ -->
            <div id="modal-footer3">
              <input type="submit" class="btn btn-primary" id="offer-data" value="申請"></input>
            </div>
          <% end %>

        </div>
      </div>
    </div>







  </body>
</html>
