<!DOCTYPE html>
<html>
  <head>
    <title>Shifop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('favicon.ico') %>
  </head>
<%#
    <header>
      <div class="header_logo">
        <img src="assets/Shifop.png" alt="">
      </div>
    </header>
%>
  <body>
    <%= yield %>
  </body>
</html>
