<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>しふとMotto</title>
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!--JS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('favicon2.ico') %>
  </head>

  <body>
    <header>
      <img src="/assets/logo.png" alt="" class="img">
      <ul class="header-menus">
        <% if @current_user %>
        <li>
          <!-- 1.モーダルを表示する為のボタン -->
          <button class="btn btn-primary" data-toggle="modal" data-target="#modal-sample">
            申請
          </button>
          <!-- 2.モーダルの配置 -->
          <div class="modal" id="modal-sample" tabindex="-1">
            <div class="modal-dialog">

              <!-- 3.モーダルのコンテンツ -->
              <div class="modal-content">
                <!-- 4.モーダルのヘッダ -->
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="modal-label">希望する日時を選択して下さい</h4>
                </div>
                <!-- 5.モーダルのボディ -->
                <%= form_tag("/posts/offer") do %>
                  <div class="modal-body">
                    <input class="form-control" type="date" name="workday" required>
                    <input class="form-control" type="time" name="start_time" value="09:00" step="900" min="09:00" max="22:00" required>
                    <input class="form-control" type="time" name="end_time" value="22:00" step="900" min="09:00" max="22:00" required>
                  </div>
                <!-- 6.モーダルのフッタ -->
                  <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" id="offer-data" value="申請"></input>
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="閉じる"></input>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </li>
        <li>
          <%= link_to("ログアウト", "/logout", {method: :post})%>
        </li>
        <% else %>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <% end %>
      </ul>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
