<!DOCTYPE html>
<html>
  <head>
    <title>Shifop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('favicon.ico') %>
  </head>
<%
=begin
%>
    <header>
      <div class="header_logo">
        <img src="assets/Shifop.png" alt="">
      </div>
    </header>
<%
=end
%>

  <body>
<%
=begin
%>
    <% if @current_user %>
      <li>
        <%= link_to("ログアウト","/logout", {method: :post}%>
      </li>
    <% else %>
      <li>
        <%= link_to("ログイン", "/login") %>
      </li>
<%
=end
%>

    <%= yield %>
  </body>
</html>
