<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Shifop</title>
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!--JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <img src="/assets/logo.png" alt="" class="img">
      <ul class="header-menus">
        <% if @current_user %>
        <li>
          <!-- 1.モーダルを表示する為のボタン -->
          <button class="btn btn-primary" data-toggle="modal" data-target="#modal-sample">
            まとめて申請
          </button>

          <!-- 2.モーダルの配置 -->
          <div class="modal" id="modal-sample" tabindex="-1">
            <div class="modal-dialog">

              <!-- 3.モーダルのコンテンツ -->
              <div class="modal-content">
                <!-- 4.モーダルのヘッダ -->
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="modal-label">申請</h4>
                </div>
                <!-- 5.モーダルのボディ -->
                <div class="modal-body">
                  <input class="form-control" type="text" placeholder="日付">
                  <input class="form-control" type="start-time" placeholder="開始時刻">
                  <input class="form-control" type="finish-time" placeholder="終了時刻">
                </div>
                <!-- 6.モーダルのフッタ -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">申請</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <%= link_to("ログアウト", "/logout", {method: :post})%>
        </li>
        <% else %>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <% end %>
      </ul>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
