<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>しふとMotto</title>
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!--JS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('favicon2.ico') %>
  </head>

  <body>
    <header>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <img src="/assets/logo.png" alt="" class="img">
      <ul class="header-menus" style="height: 60px;">
        <% if @current_user %>
        <li>
          <div id ="language-wrapper">
            <h1 class="language-title">シフトを出すには？</h1>
            <p class="language-text">
              カレンダーをクリックして申請しよう!
            </p>
          </div>
        </li>
        <li>
          <%= button_to "ログアウト", "/logout", class: "btn btn-delete", data: {confirm: "ログアウトしてよろしいですか？"} %>
        </li>
        <% end %>
      </ul>
    </header>



    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
